@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
   font-family: helvetica, arial,  sans-serif;
}

body {
  padding: 60px;
}

.main__title{
  font-family: 'Anton', sans-serif;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 0px 10px 10px 0px;
  overflow: hidden;
}

.card p{
  padding:5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}