@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  font-family: helvetica, arial, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 30px;
}

.main__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 940px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.main__gif {
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

.main__title {
  font-family: "Anton", sans-serif;
}

.left,
.right {
  flex: 1;
}

.first__bar {
  display: flex;
  width: 100%;
}
.push {
  margin-left: auto;
  border: 1px solid grey;
}

.form__search__bar {
  display: flex;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.div__grid {
  border-top: 1px solid rgba(202, 200, 200, 0.767);
  margin-top: 30px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 100px;
  height: 100px;
  align-content: center;
  border-radius: 6px;
  margin: 0px 5px 10px 5px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
